
.CommentForm {
  flex-direction: column;
  padding: 15px 0;
  display: flex;
}

.CommentForm-title {
  font-size: 12px;
  font-weight: bold;
}

.CommentForm-textarea {
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px;
  height: 76px;
  font-size: 14px;
  resize: none;
  font-family: Arial;
  border: 1px solid #666
}

.CommentForm-buttons {
  display: flex;
}

.CommentForm-btn {
  padding: 0 10px;
  margin-right: 10px;
  cursor: pointer;
}

.CommentForm-text {
  margin: 0;
  font-size: 16px;
}

.CommentForm-message {
  padding: 15px 0;
  display: flex;
}

.CommentForm-link {
  text-decoration: none;
  color: #0087E9;
  border-bottom: 1px solid #0087E9;
}
