.ItemComment-wrap {
  padding: 15px 0;
}

.ItemComment-head {
  display: flex;
}

.ItemComment-author {
  margin: 0;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.ItemComment-author_theme_owner {
  color: #666;
}

.ItemComment-date {
  font-size: 12px;
  color: #666;
}

.ItemComment-text {
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.ItemComment-reply-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 12px;
  color: #0087E9;
  cursor: pointer;
  transition: .3s;
}

.ItemComment-reply-btn:hover {
  opacity: .8;
}
