.LoginForm {
  padding: 38px 20px 20px;
}


.LoginForm-form, .LoginForm-input {
  display: flex;
  flex-direction: column;
  max-width: 203px;
}

.LoginForm-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 19px;
}

.LoginForm-label {
  margin-bottom: 20px;
}

.LoginForm-input {
  font-size: 16px;
  padding: 1px 2px 3px;
  box-sizing: border-box;
}

.LoginForm-btn {
  width: fit-content;
  padding: 1px 6px;
}

.LoginForm-error {
  font-size: 16px;
  color: #ff0000;
  margin-top: 2px;
  margin-bottom: 16px;
}
