.Controls {
  display: flex;
  justify-content: flex-end;
}

.Controls-button {
  cursor: pointer;
}

.Controls-button_theme_unexists {
  margin-left: 5px;
  padding: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #666;
  font-size: 16px;
  color: #666;
}
