.ItemCart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60px;
}

.ItemCart-code {
  padding: 0 10px 0 20px;
}

.ItemCart-title {
  width: 100%;
  padding: 0 10px;
}

.ItemCart-price {
  font-size: 18px;
  min-width: 140px;
  text-align: end;
  margin-left: auto;
  padding: 0 30px 0 5px;
}

.ItemCart-count {
  font-size: 18px;
  width: 80px;
  text-align: end;
  padding-left: 20px;
}

.ItemCart-actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 26px;
  width: 76px;
}
